button[data-module="UnstyledButton"].popoverMenuButton
  padding: 10px 10px 8px
  border-radius: 5px
  svg
    opacity: 0.4
  &:hover
    background-color: section-line
    
section[data-module="Actions"].results
  padding: 0

.resultsList
  max-height: 225px
  overflow: scroll