@require '../constants'
.featuredProject
  position: relative
  iframe 
    @media(min-width: largeViewport)  
      height: 620px

.top
  display: flex
  align-items: center
  justify-content: space-between

.left
  flex: 1 0 0

.right
  align-self: flex-end
  display: flex
  align-items: flex-start
  justify-content: flex-end

.note
  margin-bottom: 15px
  width: 95%
  
button.stackedButtons
    margin-bottom: 8px 