@import '../constants.styl'

.submitWrap
  margin-top: 10px

.emailAddress
  display: flex;
  max-width: 190px;

.firstEmail
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  display: block

.passwordForm
  width: 100%;
 
.passwordCheckboxContainer
  float: right
  display: inline-block;
  margin: 5px 0 10px 0;

.passwordSubmitWrap
  clear: both
  margin: 10px 0

.keyInStoneContainer
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-end
  padding: 14px 0 0 0

.notificationHelpText
  margin: 15px 0