@import '../constants.styl'

.submitWrap
  margin-top: 10px

.emailAddress
  display: flex;
  max-width: 190px;

.firstEmail
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  width: 200px
  display: block