.glitchProBadge
  font-weight: bold
  font-size: var(--fontSizes-small)
  display: inline-block
  color: #2800FF
  padding-top: 2px
  margin-right: var(--space-1)


.pricingPageButton
  position: relative
  padding: 2px
  border: none
  line-height: 1.3
  background: linear-gradient(12deg, #C454FF, #2800FF, #FA8A7C, #FE7DAB)
  color: #2800FF

.pricingPageButtonContent
  padding: 0 0.5em 0.1em
  display: inline-block
  border-radius: var(--rounded)
  background-color: white

.boostMark
  display: inline-block
  height: 1.5em
  width: auto
  color: inherit
  vertical-align: bottom
