@import '../constants'

.container
  margin-top: 5px
  margin-bottom: 5px

progress[value]
  width: calc(100% - 80px)
  display: inline-block
  appearance: none

  &::-webkit-progress-bar
    background-color: secondary-background
    border-radius: 3px
  &::-webkit-progress-value
    border-radius: 3px
  &.score0::-webkit-progress-value
    background-color: warning
  &.score1::-webkit-progress-value, &.score2::-webkit-progress-value
    background-color: notification 
  &.score3::-webkit-progress-value
    background-color: success


.word
  float: right