@require '../constants'

@media screen
  @media not (max-width: mediumSmallViewport)
    .shortText
      display: none
  @media (max-width: mediumSmallViewport)
    .fullText
      display: unset

@media not screen
  