@import '../constants.styl'

.overlay
  max-width: 320px

.signInButtons
  display: flex
  flex-wrap: wrap
  a
    margin-right: 0.5rem

.footer
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-end
  padding: 0.5em 0
  
.termsAndConditions
  font-size: 11px
  color: tertiary
  padding: 0.5em 0

.helpText
  margin: 0 0 0.5em 0
