:global
  #lever-jobs-container
    padding: 12px;

  #lever-jobs-container ul li h4
    font-size: 1em !important;

  #lever-jobs-container ul
    list-style-type: none;

  #lever-jobs-container .lever-job-tag
    color: rgba(44,46,47,1.0) !important
  
  #lever-jobs-container .lever-job-title
    color: #3652d3 !important
    text-decoration: none !important