@import '../../components/constants.styl';

.pricingBlocks
    display: grid
    grid-template-columns: repeat(auto-fill, minmax(var(--min-width, 300px), 1fr))
    grid-gap: u3
.pricingBlock
    background: primary-background
    border-radius: u1
    padding: u3
.pricingBlock h2
    margin-top: 0