@import '../../components/constants.styl';

.emptySearchWrapper
    max-width: mediumSmallViewport
    margin-top: u5

    .content
        margin: u3 0 u4
        input
            font-size: t4     
        form
            margin-bottom: u3   
            div
                display: none