@import '../../components/constants.styl';

.emptySearchWrapper
    max-width: mediumSmallViewport
    margin: u3 0 u4
    input
        font-size: t4
    button 
        margin: u3 0
    form
        div
            display: none