@import  "../../components/constants"

.settingsPage
  display: flex

.settingsActions
  flex-basis: 20%
  border-right: 1px solid section-line
  padding: 0 10px 0 0
  list-style: none

.settingsTab
  margin-bottom: 5px
  cursor: pointer

.settingsContent
  flex-basis: 80%
  padding-left: 10px
  .contentSection
    padding-bottom: 100px
