@import  "../../components/constants"

.settingsPage
  display: flex
  
.settingsActions
  flex-basis: 20%
  border-right: 1px solid section-line
  padding-right: 10px
  button
    margin-bottom: 5px
  
.settingsContent
  flex-basis: 80%
  padding-left: 10px
  .contentSection
    padding-bottom: 100px

[data-module="Button"].modalButton
  margin-bottom: 10px