.photoSection
  margin-top: 4em;
  display: flex
  @media(max-width: 968px)
      display: none
  img 
    max-width: calc(33% - 21px)
    margin: 12px
    margin-bottom: 8px
    border-radius: 5px

.lever-job-title :global
  color: #3652d3;
  text-decoration: none;