.main 
  /* the boxes of text were carefully aligned to be the same height on desktop if this is the width, so we're keeping it here */
  max-width: 1000px

.intro
  margin-top: 2em  
  font-size: 28px

.blockSection 
  h3
    font-size: 16px
    margin-top: 0
  article
    vertical-align: top
    display: inline-block
    width: calc(49.9% - 12px)
    margin-right: 12px
    padding: 12px
    margin-top: .5rem;
    p
      max-width: 520px
  
.backgroundSection, .blockSection article
  background-color: #fff
  border-radius: 5px

    
.leaderContainer p
  padding: 0
  margin-top: 6px
  margin-left: 0
  margin-right: 0

.leaderContainer h3
  margin-bottom: 5px

.avatar 
  display: block;
  width: auto;
  height: 80px;
  vertical-align: top;
  margin-bottom: 8px;
  margin-right: 8px;
  max-height: 80px;

.leaderName
  margin-right: 1em
  display: inline-block

.boardMember
  font-size: 70%
  font-weight: bold

.leads
  display: flex
  justify-content: center
  span
    margin-left: 12px
    margin-right: 12px
    img
      margin: auto auto;
      max-width: 175px;  
      border-radius: 5px;
      max-height: 80px;

.leads span p
  text-align: center

.leaderHeader 
  text-align: center
  width: 100%
  padding-top: 12px
  margin: 12px
  font-size: 16px

.address 
  display: inline-block
  width: calc(49.9% - 12px)
  margin-top: 1em
  margin-left: 50px

.emailButton
  vertical-align: top
  margin-top: 1em