.leads
  display: flex
  justify-content: center
  span
    margin-left: 12px
    margin-right: 12px
    img
      margin: auto auto;
      max-width: 175px;  
      border-radius: 5px;
      max-height: 80px;

.leads span p
  text-align: center

.leaderHeader 
  text-align: center
  width: 100%
  padding-top: 12px
  margin: 12px
  font-size: 16px

.address 
  display: inline-block
  width: calc(49.9% - 12px)
  margin-top: 1em
  margin-left: 50px

.emailButton
  vertical-align: top
  margin-top: 1em