.pressButton 
  margin-top: 12px

.centerImageWrapper
  text-align: center

.section
  display: flex

.assetButtons
  display: flex
  flex-direction: column
  align-items: center
  margin-bottom: 12px
  a
    width: fit-content

.embedAttribution 
  text-align: center

.pressSection
  img 
    max-height: 25px