@import '../constants'

.accountSettings
  display: flex
  
.accountSettingsActions
  flex-basis: 20%
  border-right: 1px solid section-line
  padding-right: 10px
  button
    margin-bottom: 5px
  
.accountSettingsContent
  flex-basis: 80%
  padding-left: 10px
  
.accountSettingsForm
  width: 50%
  button
    margin-top: 10px

.backupCodes
  columns: 2
  padding: 0
.backupCode
  display: block
  font-family: monospace
  
button.settingsTab
  margin-bottom: 5px
  white-space: normal 