.header
  display: flex
  flex-direction: row
  justify-content: space-between
  position: relative

.logoWrap
  flex: 0 0 70px
  margin-right: 10px

.logo
  width: 100%

.headerActions
  flex: 1 1 auto

.searchWrap
  position: relative
  width: 100%
  max-width: 250px
  margin-left: auto
  
.buttons
  padding: 0
  margin: 8px 0 0
  list-style-type: none
  display: flex
  flex-direction: row
  align-items: flex-start
  justify-content: flex-end
  
.buttonWrap
  margin-left: 10px 

.visibleOnFocus
  position: absolute !important
  left: -1000px
  top: -1000px
  width: 1px
  height: 1px
  text-align: left 
  overflow: hidden
  z-index: 1

.visibleOnFocus:focus, .visibleOnFocus:active
  left: 0
  top: 0
  width: auto
  height: auto
  overflow: visible
  margin: 8px

/* 
For some reason when we use ssr + shared-components together our
buttons do not render properly on certain pages: ex glitch.com/nonsense

If they load during ssr they do seem to be styled consistently
but we don't want to show our first button (a signin button) until 
after ssr is complete and we know if the user is signed in or not
this way we always render the button on the page so the styling comes through
but we don't show it until we've decided if they are signed in or not
*/
.hiddenHack
  visibility: hidden