@import '../constants.styl'

.anonUserSignUp
  background: #83ffcd
  margin: 5px 0px
  padding: 12px
  border-radius: 5px
  position: relative
  
  button
    margin-right: 3px
    
  button:hover
    background-color: secondary-background-hover

  @media(max-width: 800px)
    width: 100%
    margin-bottom: 1rem

.clearSession
  position: absolute
  top: 16px
  right: 16px
  
.coverWrap
  display: flex
  
.avatarWrap
  display: none
  @media(min-width: 800px)
    margin-right: 1rem
    display: block
    flex: 0 0 18%
  
.userAvatar
  height: 0
  padding-bottom: 100%
  border-radius: 50%
  background-size: cover
  
.projectsWrap
  flex: 1 1 auto
  max-width: 100%
  & > article
    margin: 0
    
svg.arrow
  vertical-align: middle
  
.postcards
  display: grid
  grid-gap: 30px
  grid-template-columns: 1fr 1fr 1fr
  
.postcard
  position: relative
  border: 4px solid var(--outer-border-color)
  border-radius: 5px
  background: var(--inner-border-color)
  padding: 7px
  overflow: hidden
  
.waves
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0
  background-image: url('https://cdn.glitch.com/179ed565-619c-4f66-b3a3-35011d202379%2Fwave.svg')
  background-position: 0 -1px
  opacity: .65
  
.postcardContent
  position: relative
  display: flex
  height: 100%
  background: #fff
  border-radius: 5px
  padding: 20px 10px 15px 10px
  
.stamp
  position: absolute
  top: 8px
  right: 10px
  height: 35px
  
.stampLabel
  opacity: 0
  width: 0
  height: 0
  margin: 0
  
.stampIcon
  position: absolute
  top: 9px
  right: 9px
  font-size: 20px
  
.postcardContentContainer
  display: flex
  flex-direction: column
  max-width: 155px
  
.postcardCta
  margin-top: auto
  
.postcardSubheading
  margin: 0
  font-weight: 600
  
.postcardText
  color: text-on-secondary-background
  
.postcardThumbnailContainer
  display: flex
  align-items: center
  padding: 0 10px
  border-left
  
  img
    max-height: 55%
  