@import '../constants.styl'

.anonUserSignUp
  background: #83ffcd
  margin: 5px 0px
  padding: 12px
  border-radius: 5px
  position: relative
  
  button
    margin-right: 3px
    
  button:hover
    background-color: secondary-background-hover

  @media(max-width: 800px)
    width: 100%
    margin-bottom: 1rem

.clearSession
  position: absolute
  top: 16px
  right: 16px
  
.coverWrap
  display: flex
  
.avatarWrap
  display: none
  @media(min-width: 800px)
    margin-right: 1rem
    display: block
    flex: 0 0 18%
  
.userAvatar
  height: 0
  padding-bottom: 100%
  border-radius: 50%
  background-size: cover
  
.projectsWrap
  flex: 1 1 auto
  max-width: 100%
  & > article
    margin: 0
    
svg.arrow
  vertical-align: middle
  
.postcards
  display: grid
  grid-gap: 30px
  grid-template-columns: 1fr 1fr 1fr
  
.postcard
  border: 4px solid var(--outer-border-color)
  border-radius: 7px
  
.postcardContent
  position: relative
  display: flex
  height: 100%
  background: #fff
  border: 7px solid var(--inner-border-color)
  border-radius: 5px
  padding: 10px
  
.stamp
  position: absolute
  top: 8px
  right: 10px
  height: 30px
  
.stampLabel
  opacity: 0
  width: 0
  
.postcardContentContainer
  max-width: 70%
  
.postcardSubheading
  margin: 0
  font-weight: 600
  
.postcardText
  color: text-on-secondary-background
  
.postcardThumbnailContainer
  display: flex
  align-items: center
  padding: 0 10px
  border-left
  
  img
    max-height: 55%
  