.modalButton
  margin-bottom: 10px

.remaining
  display: flex
  justify-content: space-between
  p
    margin: 0
  .number
    vertical-align: baseline

.actionButton
  display: block
  + .actionButton
    margin-top: 8px 
    