[data-module="Button"].modalButton
  margin-bottom: 10px

[data-module="Info"].remaining
  display: flex
  justify-content: space-between
  p
    margin: 0
  [data-module="Badge"]
    vertical-align: baseline

[data-module="Button"].actionButton
  display: block
  + [data-module="Button"].actionButton
    margin-top: 8px 
    