Host jump.staging.glitch.com jump.glitch.com
  ServerAliveInterval 300
  ServerAliveCountMax 2
  StrictHostKeyChecking no
  User deploy

Host *.ci.glitch.com
  User ubuntu
  StrictHostKeyChecking no

Host *.glitch.com
  User deploy
  StrictHostKeyChecking no

Host *.staging
  User deploy
  StrictHostKeyChecking no
  ProxyJump jump.staging.glitch.com

Host *.production
  User deploy
  StrictHostKeyChecking no
  ProxyJump jump.glitch.com
