@import '../constants.styl' 

.privateIcon
  display: inline-block
  width: 22px
  height: 20px
  margin-right: 4px
  border: 1px transparent
  border-radius: 3px
  vertical-align: middle

.privateBadge
  color: private-foreground
  svg 
    margin: 2px 5px;

.privateButton
  border: 1px solid secondary
  cursor: pointer
  svg 
    margin: 1px 0
    cursor: pointer
  >*
    left: 4px

.private
  background-color: private

.public
  background-color: secondary-background
  color: private-foreground
  svg
    opacity: 0.7