.avatarContainer
    border-radius: 5px
    position: relative
    padding: 5px
    width: 150px
    height: 150px
    .projectAvatar
        position: absolute
        width: 75px
        height: 75px
        border-radius: 5px
    .item-1
        top: 5%
        right: 5%
    .item-2
        top: calc(50% - 37.5px)
        left: calc(50% - 37.5px)
    .item-3
        bottom: 5%
        left: 5%
